<div class="bg-info">
  <h1>Assign Quiz {{quizDetails.quiz_name}}</h1>
  <blockquote class="bg-warning">{{quizDetails.quiz_description}}</blockquote>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Quiz Name</th>
        <th>Number of Questions</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{quizDetails.quiz_name}}</td>
        <td>{{quizDetails.num_questions}}</td>
        <td>{{quizDetails.create_date | date:"medium"}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Select Users to assign this Quiz to !</h3>

  <div class="container clearfix">
    <div class="col-lg-2" data-ng-repeat="friend in userFriends">
      <label class="checkbox-inline">
        <input type="checkbox" 
               name="friends[]" 
               value="{{friend.fb_user_id}}" 
               data-ng-checked="selectedFriends.indexOf(friend.fb_user_id) != -1"
               data-ng-click="toggleSelection(friend.fb_user_id)" />
        <div class="pull-left">
          {{friend.fb_user_name}} <br />
          <image ng-src="{{friend.imageURL}}" class="assignFriendImage" />
        </div>
      </label>

    </div>
    
    <div class="">
      <button type="button" class="btn btn-primary" data-ng-click="assignQuizToUsers()">Assign</button>
    </div>
    
  </div>
</div>
